.DS_Store
.buildpath
.project
.settings/
.idea/
*.iml
!.gitkeep
wp-content/uploads/*
wp-content/plugins/db-cache-reloaded-fix/cache/*

# WP config was added to repo to simplify deployment to AWS EB
#wp-config.php
#wp-config.php.*

.env.*
!.env.sample.php

# W3TC stuff -- I should find the proper things to ignore from w3tc plugin

# These files were added temp so we can push traffic but a better solution needs to be implemented.
#wp-content/db.php
#wp-content/advanced-cache.php
#wp-content/wp-cache-config.php
#wp-content/object-cache.php
#wp-content/w3tc-config/
wp-content/cache/
.elasticbeanstalk/
